<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>community</title>
  </head>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />

  <body>
    <nav class="nav">
      <div class="nav__container">
        <h1 class="nav__logo">community</h1>
      </div>
    </nav>
    <section class="community__container">
      <div class="image__container">
        <img
          class="image-mobile"
          src="{% static 'assets/curiouspeople-mobile.png' %}"
          alt="curious people"
        />
        <img
          class="image-desktop"
          src="{% static 'assets/curiouspeople-desktop.png' %}"
          alt="curious people"
        />
      </div>
      {% if submitted %}
      <div class="submitted__container">
        <h1 class="submitted__title">Thank you!</h1>
        <p class="submitted__desc">
          We will reach you out as soon as possible. Below is the summary of
          your complaint.
        </p>
        <p class="submitted__info"><span>Complainant: </span> {{ submitData.name }}</p>
        <p class="submitted__info"><span>Email: </span>{{ submitData.email }}</p>
        <p class="submitted__info"><span>Address: </span>{{ submitData.address }}</p>
        <p class="submitted__info">
          <span>Subject of the Complaint: </span>{{ submitData.subject }}
        </p>
        <p class="submitted__info"><span>Message: </span>{{ submitData.message }}</p>
        <button class="button button__return">
          <a class="link__return" href="http://lgu-complaints.herokuapp.com">
            Send another compaint
          </a>
        </button>
      </div>

      {% else %}

      <div class="complaint__container">
        <h1 class="complaint__title">Tell us what's on your mind!</h1>
        <p class="complaint__desc">
          Let's create a peaceful community. Every detaills matter!
        </p>
        <form class="form__container" action="" method="POST">
          {% csrf_token %} {{ form.as_p }}

          <button name="submit" class="button button__submit">Submit</button>
        </form>
      </div>

      {% endif %}
    </section>
  </body>
</html>
